:root {
  --sidebar-width: 400;
}

* {
  font-family: 'Raleway', sans-serif;
}


#wrapper {
  padding-left: calc(var(--sidebar-width) * 1px);
  transition: all 0.5s;
}

#wrapper a:link, a:hover, a:visited, a:active {
    text-decoration: none;
}

#sidebar {
  margin-left: calc(var(--sidebar-width) * -1px);
  width: calc(var(--sidebar-width) * 1px);
  position: fixed;
  height: 100%;
  padding: 30px;
  background: #9CE;
  transition: all 0.5s;
  text-align: right;
  vertical-align: center;
}

#sidebar h1 {
  color: #1a6699;
}

#sidebar ul {
  list-style: none;
  font-size: 20px;
}

#content {
  padding: 30px;
}

#content-body p {
  font-size: 20px;
}

#content-body ul {
  font-size: 20px;
  padding-left: 40px;
  list-style: none;
}

@media (max-width:767px) {
    #wrapper {
      padding-left: 50px;
    }

<!-- lol comment everything below this out-->
    #wrapper.active {
      position: relative;
      left: calc(var(--sidebar-width) * 1px);
    }

    #wrapper.active #sidebar {
      left: calc(var(--sidebar-width) * 1px);
      width: calc(var(--sidebar-width) * 1px);
      transition: all 0.5s;
    }

    #sidebar {
      left: 0;
    }
}
