:root {
  --sidebar-width: 200;
  --sidebar-color: #66b2e5;
}

#wrapper {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  padding-left: calc(var(--sidebar-width) * 1px);
  transition: all 0.5s;
}

#wrapper a:link, a:hover, a:visited, a:active {
  text-decoration: none;
}

#sidebar {
  margin-left: calc(var(--sidebar-width) * -1px);
  width: calc(var(--sidebar-width) * 1px);
  position: fixed;
  height: 100%;
  padding: 30px;
  background: #66b2e5;
  /* background: #1a6699; */
  transition: all 0.5s;
  text-align: right;
  vertical-align: middle;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}

#sidebar h1 {
  color: #FFF;
  font-weight: 100;
}

#sidebar ul {
  list-style: none;
  font-size: 20px;
}

#sidebar a {
  color: #FFF;
}

#sidebar img {
  height: 20px;
  width: 20px;
}

/*
#sidebar-content {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
}
*/

#sidebar-content li {
  padding: 10px 50px 10px 10px;
  margin-left: -100px;
  margin-right: -50px;
}

#sidebar-content li.selected {
  background-color: #FFF;
}

#sidebar-content li.selected a {
  color: var(--sidebar-color);
}

#main {
  padding: 30px;
  font-weight: 100;
}

#main h1 {
  font-weight: 100;
}

#main-content p {
  font-size: 20px;
}

#main-content ul {
  font-size: 20px;
  padding-left: 40px;
  list-style: none;
}

@media (max-width:767px) {
    #wrapper {
      padding-left: 50px;
    }

/* lol comment everything below this out */
    #wrapper.active {
      position: relative;
      left: calc(var(--sidebar-width) * 1px);
    }

    #wrapper.active #sidebar {
      left: calc(var(--sidebar-width) * 1px);
      width: calc(var(--sidebar-width) * 1px);
      transition: all 0.5s;
    }

    #sidebar {
      left: 0;
    }
}
