:root {
  --sidebar-width: 400;
}

* {
  font-family: 'Raleway', sans-serif;
}

.about h1 {
  color: blue;
}

.about h3 {
  color: cornflowerblue;
}

.row header {
  display: flex;
  align-items: center;
}

#wrapper {
  padding-left: calc(var(--sidebar-width) * 1px);
  transition: all 0.5s;
}

#sidebar {
  margin-left: calc(var(--sidebar-width) * -1px);
  width: calc(var(--sidebar-width) * 1px);
  position: fixed;
  height: 100%;
  padding: 30px;
  background: #9CE;
  transition: all 0.5s;
  text-align: right;

}

#sidebar h1 {
  top: 50%;
}

#content {
  width: 100%;
  padding: 30px;
}

.sidebar-nav {
  width: calc(var(--sidebar-width) * 1px);
  list-style: none;
  padding-right: 60px;
}

.sidebar-nav a {
  font-size: 20px;
}

.description {
  list-style: none;
}

@media (max-width:767px) {

    #wrapper {
      padding-left: 0;
    }

    #sidebar {
      left: 0;
    }

    #wrapper.active {
      position: relative;
      left: calc(var(--sidebar-width) * 1px);
    }

    #wrapper.active #sidebar {
      left: calc(var(--sidebar-width) * 1px);
      width: calc(var(--sidebar-width) * 1px);
      transition: all 0.4s ease 0s;
    }

}
